@page "/createEvent"
@page "/event/create"
@using RegistrationSystem.Data.Interface;
@inject IEventService EventService;
@inject NavigationManager NavigationManager

<div class="container justify-content-center">
    <SubBanner Title="Ürituse lisamine"/>
    <div class="row justify-content-center main-row">
        <div class="col">
            <EditForm Model="EventOb" OnSubmit="Save">
                <table class="table table-borderless">
                    <thead style="text-align:center;">
                        <tr class="justify-content-center">
                            <th colspan="2"><h2 style="width:fit-content;">Ürituse Lisamine</h2></th>
                        </tr>
                    </thead>
                    <tbody style="background-color: white;">
                        <tr>
                            <td>Nimi: </td>
                            <td><InputText id="name" @bind-Value="EventOb.Name" /></td>
                        </tr>
                        <tr>
                            <td>Kuupäev: </td>
                            <td><InputDate @bind-Value="EventOb.Date" /></td>
                        </tr>
                        <tr>
                            <td>Asukoht: </td>
                            <td><InputText @bind-Value="EventOb.Location" /></td>
                        </tr>
                        <tr>
                            <td>lisa info: </td>
                            <td><InputTextArea @bind-Value="EventOb.Notes" /></td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn-outline-danger" @onclick="BackToLanding">Tagasi</button>
                            </td>
                            <td>
                                <button class="btn btn-primary" type="submit">Lisa</button>
                            </td>
                        </tr>
                    </tbody>
                </table>                
            </EditForm>
        </div>
    </div>
    <Footer />
</div>


