@page "/"
@using RegistrationSystem.Data.Interface;
@inject IEventService EventService;
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<div class="container-sm justify-content-center">
    <MainBanner/>
    <div class="row">
        <EventList Events="@futureEvents" Title="Tulevased Üritused" IsFutureList="true" OnEventDeleted="EventDeleted" />
        <EventList Events="@pastEvents" Title="Toimunud Üritused" OnEventDeleted="EventDeleted" />
    </div>
    <Footer/>
</div>