@page "/"
@using RegistrationSystem.Data.Interface;
@inject IEventService EventService;
@inject NavigationManager NavigationManager


<PageTitle>Index</PageTitle>

<div class="container-sm justify-content-center">
    <RegistrationSystem.Components.MainBanner/>
    <div class="row">
        <RegistrationSystem.Components.EventList events="@futureEvents" title="Tulevased Üritused" isFutureList="true" OnEventDeleted="EventDeleted" />
        <RegistrationSystem.Components.EventList events="@pastEvents" title="Toimunud Üritused" OnEventDeleted="EventDeleted" />
    </div>
    <RegistrationSystem.Components.Footer/>
</div>