<div class="top-row ps-3 navbar navbar-light justify-content-center">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href=""><img src="css/img/logo.svg"/></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-row">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> AVALEHT
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createEvent">
                <span class="oi oi-plus" aria-hidden="true"></span> ÜRITUSE LISAMINE
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="payment">
                <span class="oi oi-euro" aria-hidden="true"></span> MAKSEMEETODID
            </NavLink>
        </div>
    </nav>
</div>


