@using RegistrationSystemDataLayer.Interface;
@inject NavigationManager NavigationManager
@inject IEventService EventService

<tr>
    <td>@eventOb.Name</td>
    <td>@eventOb.Date</td>
    <td>@eventOb.Location</td>
    <td><a class="event-button" @onclick="NavigateToEvent"><span>osavõtjad</span></a></td>
    @if (!isPastElement)
    {
        <td><a @onclick="DeleteEvent"><span class="e-icons btn-close" /></a></td>
    }
</tr>
    
