<div class="row align-items-center">
    <div class="col" style="padding: 0; padding-bottom: 12px; height:100%;">
        <div class="banner-box">
            <p class="banner-text">Some text.</p>
        </div> 
    </div>
    <div class="col" style="padding: 0; padding-bottom: 12px;">
        <img class="banner-img" src="css/img/pilt.jpg" />
    </div>
</div>

