@if (participantInEvents != null && participantInEvents.Count > 0)
            {
                @foreach (var participant in participantInEvents)
                {
            <ParticipantListElement participant="@participant" OnParticipantRemoved="ParticipantRemoved"></ParticipantListElement>

                }
            }
else
            {
                <tr>
                    <td><h3>Üritusel puuduvad osavõtjad!</h3></td>
                </tr>
            }

